$background-color: #daa520;

#header-container {
	background-color: $background-color;
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
}

#labels-column {
	background-color: $background-color;
	color: $background-color;
	flex-basis: 30%;
}
