$background-color: #daa520;

#row-header-container {
	background-color: $background-color;
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	padding: 0.5rem;
}

#labels-header {
	background-color: $background-color;
	color: $background-color;
	flex-basis: 30%;
}
